body{ /*informaçao do body: mudança de cor e separaçao das gardes*/
    background-color: rgb(138, 23, 17);
    grid-gap: 20px; color: rgb(255, 255, 255);
    display: grid;
    grid-template-areas:
    "cabe cabe cabe"
    "secu prin prin"
    "roda roda roda";
}
.logo{ /*informaçao da logo: deixar ela redonda*/
    border-radius: 50%;
}
.cabecalho{ /*informaçao do hearde: deixa o header fixo*/
    grid-area: cabe;
    max-height: 75%;
}
.secundario{ /*informaçao do esquerdo: deixa no centro*/
    grid-area: secu;
    text-align: center;
}
.principal{ /*informaçao do meio: deixa no centro*/
    grid-area: prin;
    text-align: center;
} 
.rodape{ /*innformaçao do footer: deixa no centro*/
    grid-area: roda; 
    text-align: center;
}
.cabecalho, .secundario, .rodape, .principal{ /*fundo, ele arruma todas as grades*/
    background-color: rgb(58, 62, 61);
}