body{
    background-color: rgb(138, 23, 17);
    grid-gap: 20px; color: rgb(255, 255, 255);
    display: grid;
    grid-template-areas:
    "cabe cabe cabe"
    "secu prin prin"
    "roda roda roda";
}
.logo{
    border-radius: 50%;
}
.cabecalho{
    grid-area: cabe;
    max-height: 75%;
}
.secundario{ 
grid-area: secu;
text-align: center;
}
.principal{ 
grid-area: prin;
text-align: center;
} 
.rodape{
grid-area: roda; 
    text-align: center;
}
.cabecalho, .secundario, .rodape, .principal{
    background-color: rgb(58, 62, 61);
}